{% extends 'base.html.twig' %}

{% block title %}Password Reset{% endblock %}

{% block body %}

    <h1>Password Reset</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Reset</button>
    </div>
    {{ form_end(form) }}

{% endblock %}
