{% if type == 'none' %}
    <span class="badge badge-secondary">None</span>
{% elseif type == 'error' %}
    <span class="badge badge-danger">Error</span>
{% elseif type == 'feature' %}
    <span class="badge badge-success">Feature</span>
{% endif %}