{% extends 'base.html.twig' %}

{% block title %}New Post{% endblock %}

{% block body %}
    <h1>Create new Post</h1>

    <div class="d-flex mb-3 controls">
        <a href="{{ path('post_index') }}" class="btn btn-primary">Back to list</a>
    </div>

    {{ include('post/_form.html.twig') }}
{% endblock %}
