{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">Home</li>
    </ol>
{% endblock %}

{% block body %}

{% endblock %}