{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">Dashboard</li>
    </ol>
{% endblock %}

{% block body %}
    <h1>Hello!</h1>
{% endblock %}