{% if status == 'wait' %}
    <span class="badge badge-secondary">Wait</span>
{% elseif status == 'active' %}
    <span class="badge badge-primary">Active</span>
{% elseif status == 'blocked' %}
    <span class="badge badge-danger">Block</span>
{% endif %}